//theme
$main-color: green;
$secondary-color: blue;



//background-colors
$background-gradient-green: linear-gradient(to bottom, #18290f, #00f100);
$background-gray: rgb(111, 197, 183);
$background-green: rgb(73, 163, 73);
$background-blue: rgb(93, 93, 233);
$background-skeleton: rgb(87, 108, 226);



//width & Height
$sm: 50px;
$md: 100px;
$lg: 200px;
$w-full: 100%;



//gap
$gap-sm: 0.5em;
$gap-md: 0.10em;
$gap-lg: 0.15em;
$gap-5px: 5px;
$gap-10px: 10px;
$gap-15px: 15px;
$gap-20px: 20px;
$gap-25px: 25px;
$gap-30px: 30px;
$gap-35px: 35px;
$gap-40px: 40px;
$gap-45px: 45px;
$gap-50px: 50px;
$gap-55px: 55px;
$gap-60px: 60px;




//screens
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1280px;


//fonts



//text-colors



//buttons