//theme
$main-color: green;
$secondary-color: blue;



//background-colors
$background-gradient-green: linear-gradient(to bottom, #18290f, #00f100);
$background-gray: rgb(111, 197, 183);
$background-green: rgb(73, 163, 73);
$background-blue: rgb(93, 93, 233);
$background-skeleton: rgb(87, 108, 226);



//width & Height
$sm: 50px;
$md: 100px;
$lg: 200px;
$w-full: 100%;




//screens
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1280px;


//fonts



//text-colors



//buttons