@import '../variables/globalVariables.scss';


.file-explorer-container {
    z-index: 9999;
    position: relative;
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: flex-start;
    /* Vertically center */
    height: 100vh;
    /* Set the height to 100% of the viewport height */
}

.file-explorer {
    position: absolute;
    /* Styles for your file explorer content */
    /* You can adjust the width, height, background, etc. here */
    width: 600px;
    height: 500px;
    background-color: #000000;
    top: 10%;
    opacity: 0.8;

    .file-top-section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 15px;

        .file-title {
            position: absolute;
            width: 100%;
            text-align: center;
            color: white;
            text-transform: uppercase;
        }
    }

}


.folder-container {
    position: absolute;
    top: 30px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 600px;
    display: flex;

    .folder-icon {
        margin: 20px;
    }
}