@import '../variables/globalVariables.scss';


.file-explorer-container {
    position: relative;
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: flex-start;
    /* Vertically center */

    /* Set the height to 100% of the viewport height */
}

.file-explorer {
    z-index: 999999999;
    /* Styles for your file explorer content */
    /* You can adjust the width, height, background, etc. here */
    min-width: 25%;
    min-height: 40%;
    background-color: #000000;
    top: 10%;
    opacity: 0.9;

    .file-top-section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 15px;

        .file-title {
            position: absolute;
            width: 100%;
            text-align: center;
            color: white;
            text-transform: uppercase;
        }

        .add-project {
            right: 0;

        }
    }

}