@import './styles/variables/globalVariables.scss';

$animation-spinner-speed: 3s;
$animation-opacity: 0.3;

.element-container {
    // width: 100px;
    // height: 100px;
    position: relative;
    /* Add spinning animation */
}

.square {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid;
    /* Add a border to create a square with no color inside */
    animation: spin $animation-spinner-speed linear infinite;
    /* Define the spinning animation */
    transform-origin: center center;
    /* Set the transform origin to the center of each element */
    opacity: $animation-opacity
}

.circle {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid;
    /* Add a border to create a square with no color inside */
    animation: spin $animation-spinner-speed linear infinite;
    /* Define the spinning animation */
    transform-origin: center center;
    border-radius: 45%;
    /* Set the transform origin to the center of each element */
    opacity: $animation-opacity
}

.hexagon {
    width: 58px;
    height: 58px;
    /* Adjust the height to control the shape */
    background-color: transparent;
    position: absolute;
    animation: spin $animation-spinner-speed linear infinite;
    transform-origin: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 29px auto;
    /* Center the hexagon */
    border: 2px solid;
    /* Add a border to create a hexagon with no color inside */
    opacity: $animation-opacity;
    /* Adjust opacity as needed */
}

.rectangle {
    width: 100px;
    height: 60px;
    /* Adjust the height to control the shape */
    background-color: transparent;
    position: absolute;
    border: 2px solid;
    animation: spin $animation-spinner-speed linear infinite;
    transform-origin: center;
    /* Add a border to create a rectangle with no color inside */
    opacity: $animation-opacity;
    /* Adjust opacity as needed */
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
        /* Start rotation from 0 degrees */
    }

    100% {
        transform: rotate(360deg);
        /* End rotation at 360 degrees (full circle) */
    }
}