@import './variables/globalVariables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 200vh;
    background-image: url('https://img.freepik.com/premium-vector/black-abstract-background-with-geometric-shapes-elegant_476151-624.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}


//width and height
.width-full {
    width: $w-full;
}

.width-half {
    width: 50%;
}

.height-sm {
    height: $sm;
}

.height-md {
    height: $md;

}





//display area. eg: Flex, block
.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-grid {
    display: grid;
}

.fd-column {
    flex-direction: column;
}

.fd-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-even {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}


.align-start {
    align-items: flex-start;
}






//spacing Gap
.gap-sm {
    gap: $gap-sm;
}

.gap-md {
    gap: $gap-md;
}

.gap-lg {
    gap: $gap-lg;
}

.gap-5px {
    gap: $gap-5px;
}

.gap-10px {
    gap: $gap-10px;
}

.gap-15px {
    gap: $gap-15px;
}

.gap-20px {
    gap: $gap-20px;
}

.gap-25px {
    gap: $gap-25px;
}

.gap-30px {
    gap: $gap-30px;
}

.gap-35px {
    gap: $gap-35px;
}

.gap-40px {
    gap: $gap-40px;
}

.gap-45px {
    gap: $gap-45px;
}

.gap-50px {
    gap: $gap-50px;
}

.gap-55px {
    gap: $gap-55px;
}

.gap-60px {
    gap: $gap-60px;
}





//padding && margin
.padding-sm {
    padding: 10px;
}

.padding-md {
    padding: $md;
}

.padding-lg {
    padding: $lg;
}

.margin-sm {
    margin: 10px;
}

.margin-md {
    margin: $md;
}

.margin-lg {
    margin: $lg;
}




//styles, UL, <a>, li.....
.style-none {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}



.border-radius-smooth {
    border-radius: 25px;
}



//cursor
.cursor-pointer {
    cursor: pointer;
}







//text
.text-white {
    color: white;
}







//background
.bg-green {
    background-color: $main-color;
}

.bg-gray {
    background-color: $background-gray;
}

.bg-blue {
    background-color: $background-blue;
}

.bg-green {
    background-color: $background-green;
}

.bg-skeleton {
    background: linear-gradient(90deg, $background-skeleton 25%, #2ec088 50%, $background-skeleton 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;

    @keyframes loading {
        0% {
            background-position: -200% 0;
        }

        100% {
            background-position: 200% 0;
        }
    }

}





//z-index
.z-index-priority {
    z-index: 99999999999999999999999999999999999999;
}




//position
.p-sticky {
    position: sticky;
    top: 0;
}



.p-fixed {
    position: fixed;
}

.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

.bottom-0 {
    bottom: 0;
}





//Responsiveness
.desktop-flex {
    @media screen and (min-width: $small-screen) {
        display: inherit;

    }

    @media screen and (min-width: $medium-screen) {
        display: inherit;
    }

    @media screen and (max-width: $medium-screen) {
        display: none;
    }

    @media screen and (max-width: $small-screen) {
        display: none;
    }
}